name: Build and Analyze

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run Tests + JaCoCo Report
        run: |
          cd LibraryManagementSystem
          mvn clean test jacoco:report

      - name: Debug Jacoco Path
        run: |
          cd LibraryManagementSystem
          echo "----- Checking Jacoco Report Folder -----"
          ls -R target/site/jacoco || echo "Jacoco folder NOT found!"
          echo "-----------------------------------------"

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        with:
          args: >
            -Dsonar.projectKey=sadeelandbana_Library-Management-System
            -Dsonar.organization=sadeelandbana0405121
            -Dsonar.projectBaseDir=LibraryManagementSystem
            -Dsonar.sources=src/main/java
            -Dsonar.tests=src/test/java
            -Dsonar.java.binaries=target/classes
            -Dsonar.java.test.binaries=target/test-classes
            -Dsonar.java.coveragePlugin=jacoco
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
            -Dsonar.coverage.exclusions=**/com/library/app/**,**/com/library/app/**/*,**/*Screen*.java,**/*Frame*.java,**/*RoundedBorder*.java,**/*GUI*.java,**/*Main*.java,**/EmailNotifier.java,**/Observer.java
            -Dsonar.exclusions=**/com/library/app/**,**/com/library/app/**/*,**/*Screen*.java,**/*Frame*.java,**/*RoundedBorder*.java,**/*GUI*.java,**/*Main*.java,**/EmailNotifier.java,**/Observer.java
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
